PORT=8081
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
RABBITMQ_EXCHANGE=shiply.services
RABBITMQ_APP_BUILD_QUEUE=shiply.app.build
RABBITMQ_APP_BUILD_ROUTING_KEY=app.build.requested
GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY=
GITHUB_APP_PRIVATE_KEY_BASE64=
