PORT=8081
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
RABBITMQ_EXCHANGE=shiply.services
RABBITMQ_APP_BUILD_QUEUE=shiply.app.build
RABBITMQ_APP_BUILD_ROUTING_KEY=app.build.requested
RABBITMQ_BUILD_SUCCEEDED_ROUTING_KEY=build.succeeded
RABBITMQ_BUILD_FAILED_ROUTING_KEY=build.failed
GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY=
GITHUB_APP_PRIVATE_KEY_BASE64=
CONTAINER_REGISTRY_HOST=
CONTAINER_REGISTRY_REPOSITORY_PREFIX=
CONTAINER_REGISTRY_USERNAME=
CONTAINER_REGISTRY_PASSWORD=
